

    <li class="nav-item">
        @Html.ActionLink("Trang Chủ", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Lớp", "Index", "Lop", routeValues: null, htmlAttributes: new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Học sinh", "Index", "Student", routeValues: null, htmlAttributes: new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("QL Bảng Điểm", "Index", "DiemHS", routeValues: null, htmlAttributes: new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("NamHoc", "Index", "NamHoc", routeValues: null, htmlAttributes: new { @class = "nav-link" })
    </li>
